.filter {
  position: relative;
  border-radius: 5px;
  padding: 16px;
  font-size: 16px;
  margin-top: 16px;
}

.filter-placeholder {
  display: flex;
  justify-content: space-between;
}
.filter-options {
  background-color: white;
  border-radius: 5px;
  list-style: none;
  padding-left: 10px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 105%;
}
.filter-options li {
  padding: 0.5rem;
}

@media (max-width: 768px) {
  .filter {
    height: 50px;
    padding: 10px;
  }
}

@media (max-width: 440px) {
  .filter {
    width: 200px;
    padding: 15px;
  }

  .icon {
    margin-right: 19px;
    margin-top: 4px;
  }

  span {
    font-size: 12px;
  }
}

:host-context(.light) .filter,
:host-context(.light) .filter-options {
  background-color: #fff;
}
:host-context(.dark) .filter,
:host-context(.dark) .filter-options {
  background-color: hsl(209, 23%, 22%);
  color: #fff;
}

@media (min-width: 376px) {
  .filter {
    margin-top: 0;
  }
}
