.filter {
  position: relative;
  border-radius: 5px;
  padding: 16px;
  font-size: 16px;
  margin-top: 16px;
}

.filter-placeholder {
  display: flex;
  justify-content: space-between;
}
.filter-options {
  border-radius: 5px;
  list-style: none;
  padding-left: 16px;
  background-color: white;
  width: 100%;
}
.filter-options li {
  padding: 0.5rem;
}

:host-context(.light) .filter,
:host-context(.light) .filter-options {
  background-color: #fff;
}
:host-context(.dark) .filter,
:host-context(.dark) .filter-options {
  background-color: #2b3945;
}

@media (min-width: 376px) {
  .filter {
    margin-top: 0;
  }
}
