<section class="container">
  <section class="country-filters">
    <section class="search shadow">
      <ion-icon class="icon" name="search-outline"></ion-icon>
      {{ " " }}
      <input
        type="text"
        placeholder="Search for a country..."
        [(ngModel)]="searchFilter"
      />
    </section>

    <app-filter
      placeholder="Filter by Region"
      [options]="regions"
      [(region)]="regionFilter"
    ></app-filter>
  </section>

  <app-loading *ngIf="isLoading"> </app-loading>

  <section class="error-block" *ngIf="errBlock" id="error">
    <h1>404</h1>
    <h2>Not Found</h2>
    <p>The resource requested could not be found on this server!</p>
  </section>

  <div *ngIf="countries?.length === 0" class="no-result">
    <h1>Sorry, There is No Country with This Name!</h1>
  </div>

  <section class="main countries-cards">
    <app-card *ngFor="let country of countries" [country]="country"> </app-card>
  </section>
</section>
