.main {
  max-width: 1440px;
  margin: 0 auto;
}

.countries-cards {
  display: grid;
  row-gap: 70px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 5rem;
}

.country-filters {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
}

.search {
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 1rem;
}

.icon {
  font-size: 1rem;
  padding-right: 0.5rem;
}
.search input {
  font-size: 1rem;
  border: none;
  background-color: inherit;
}

@media (min-width: 360px) {
  .countries-cards {
    padding: 20px 70px;
  }

  .country-filters {
    margin: 2rem 5rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .country-filters app-filter {
    width: 25%;
  }

  .search {
    width: 33%;
  }
}
