<section *ngIf="country$ | async; let country">
  <button class="button shadow" [routerLink]="'/'">
    <ion-icon name="arrow-back-outline"></ion-icon>
    Back
  </button>
  <img [src]="country.flag" />
  <h3>{{ country.name }}</h3>

  <p>
    <b>Native Name:</b>
    {{ country.nativeName }}
  </p>

  <p>
    <b>Population:</b>
    {{ country.population | number: "1.0" }}
  </p>

  <p>
    <b>Region:</b>
    {{ country.region }}
  </p>

  <p>
    <b>Capital:</b>
    {{ country.nativeName }}
  </p>

  <p>
    <b>Top Level Domain:</b>
    {{ country.topLevelDomain }}
  </p>

  <p>
    <b>Currencies:</b>
    {{ getCurrencies(country.currencies) }}
  </p>

  <p>
    <b>Languages:</b>
    {{ getLanguages(country.languages) }}
  </p>
</section>
